<div *ngIf="stateDebugEnabled" style="font-size: 12px; position: absolute; bottom:13px;">
	Some State output for debugging.

	<div>
		<div style="font-weight: bold;">Monthly Account Overviews [{{monthlyAccountOverviews.length}}]:</div>
	</div>
	<div style="font-weight: bold;">{{ monthlyAccountOverviews }}</div>
	<div>
		<div style="font-weight: bold;">Regular Incomes [{{regularIncomes.length}}]:</div>
		<div style="font-weight: bold;">{{ regularIncomes }}</div>
	</div>
	<div>
		<div style="font-weight: bold;">OneTime Incomes [{{oneTimeIncomes.length}}]:</div>
		<div style="font-weight: bold;">{{ oneTimeIncomes }}</div>
	</div>
	<div>
		<div style="font-weight: bold;">Regular Spendings [{{regularSpendings.length}}]:</div>
		<div style="font-weight: bold;">{{ regularSpendings }}</div>
	</div>
	<div>
		<div style="font-weight: bold;">OneTime Spendings [{{oneTimeSpendings.length}}]:</div>
		<div style="font-weight: bold;">{{ oneTimeSpendings }}</div>
	</div>
	
</div>
