<h2>Jahresübersicht</h2>

<table mat-table [dataSource]="months" class="mat-elevation-z8 demo-table">
	
	<ng-container matColumnDef="month">
		<th mat-header-cell *matHeaderCellDef> Month </th>
		<td mat-cell *matCellDef="let month"> {{ month.monthString() }} </td>
	</ng-container>

	<ng-container matColumnDef="income">
		<th mat-header-cell *matHeaderCellDef> Income </th>
		<td mat-cell *matCellDef="let month"> {{ month.income }} </td>
	</ng-container>

	<ng-container matColumnDef="spending">
		<th mat-header-cell *matHeaderCellDef> Spending </th>
		<td mat-cell *matCellDef="let month"> {{ month.spending }} </td>
	</ng-container>

	<ng-container matColumnDef="accountAtStart">
		<th mat-header-cell *matHeaderCellDef> Account at Start </th>
		<td mat-cell *matCellDef="let month"> {{ month.accountAtStart }} </td>
	</ng-container>

	<ng-container matColumnDef="accountAtEnd">
		<th mat-header-cell *matHeaderCellDef> Account at End </th>
		<td mat-cell *matCellDef="let month"> {{ month.accountAtEnd }} </td>
	</ng-container>

	<ng-container matColumnDef="saving">
		<th mat-header-cell *matHeaderCellDef> Saving </th>
		<td mat-cell *matCellDef="let month"> {{ month.saving }} </td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>