<table mat-table [dataSource]="datasource" class="mat-elevation-z8 editable-table" matSort matSortActive="{{getInitialSort()}}" matSortDirection="asc">
	<tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns(); let rowIdx = index;"></tr>
	
	<ng-container *ngFor="let tableDesc of tableDescriptions"> 
			
			<ng-container matColumnDef="{{ tableDesc.valuePropertyName }}">
				<ng-container *ngIf="tableDesc.sortable">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> {{ tableDesc.label }} </th>
				</ng-container>
				<ng-container *ngIf="!tableDesc.sortable">
					<th mat-header-cell *matHeaderCellDef> {{ tableDesc.label }} </th>
				</ng-container>
				<td mat-cell *matCellDef="let rowData; let rowIdx = index;"> 

					<span *ngIf="!tableDesc.editable || tableDesc.dataSource  || !isEditMode[rowIdx]">
						{{ getDisplayValue(rowData, tableDesc.valuePropertyName, tableDesc.displayProcessor, tableDesc.dataSource, tableDesc.valueInputType === 'number') }}
					</span>

					<mat-form-field
						*ngIf="(tableDesc.editable && !tableDesc.dataSource) && isEditMode[rowIdx]"
						class="table-edit-mode"
						appearance="standard">
						<input *ngIf="tableDesc.valueInputType === undefined || tableDesc.valueInputType === 'text'"
							matInput
							[(ngModel)]="tableDataInEditing[rowIdx][tableDesc.valuePropertyName]"
							type="{{tableDesc.valueInputType}}"
							placeholder="{{tableDesc.label}}">

						<input *ngIf="tableDesc.valueInputType === 'number'"
							matInput
							[(ngModel)]="tableDataInEditing[rowIdx][tableDesc.valuePropertyName]"
							type="{{tableDesc.valueInputType}}" 
							placeholder="{{tableDesc.label}}"
							step="0.01">

						<ng-container *ngIf="tableDesc.valueInputType === 'date'">
							<ng-container *ngIf="tableDesc.dateMonthOnly === true">	
								<input
									matInput
									[matDatepicker]="picker"
									[(ngModel)]="tableDataInEditing[rowIdx][tableDesc.valuePropertyName]"
									(click)="openDatePicker(picker)">
									<mat-datepicker
										#picker
										startView="year"
										(monthSelected)="closeDatePicker($event, picker, tableDataInEditing[rowIdx], tableDesc.valuePropertyName)">
									</mat-datepicker>
							</ng-container>

							<ng-container *ngIf="tableDesc.dateMonthOnly !== true">	
								<input
									matInput
									[matDatepicker]="picker"
									[(ngModel)]="tableDataInEditing[rowIdx][tableDesc.valuePropertyName]"
									(click)="openDatePicker(picker)">
									<mat-datepicker #picker>
									</mat-datepicker>
							</ng-container>
						</ng-container>
					</mat-form-field>	
				</td>
			</ng-container>

		</ng-container>

		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef> Actions </th>
			<td mat-cell *matCellDef="let rowData; let rowIdx = index;">
				<ng-container *ngIf="isEditMode[rowIdx]">
					<button mat-icon-button>
						<mat-icon (click)="saveItem(rowIdx, $event)">save</mat-icon>
					</button>
					<button mat-icon-button (click)="discard(rowIdx)">
						<mat-icon>cancel</mat-icon>
					</button>
				</ng-container>

				<ng-container *ngIf="!isEditMode[rowIdx]">
					<button mat-icon-button *ngIf="hasEditableItems()">
						<mat-icon (click)="toggleEditMode(rowIdx)">edit</mat-icon>
					</button>
					<button mat-icon-button (click)="delete(rowIdx)">
						<mat-icon>delete</mat-icon>
					</button>
				</ng-container>
			</td>
		</ng-container>

</table>

<app-item-adder [add-item-function]="addItem.bind(this)"></app-item-adder>
