<h2>Monthly Income</h2>
	<table mat-table [dataSource]="datasource" class="mat-elevation-z8 demo-table">
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns; let rowIdx = index;"></tr>
		
		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef> Name </th>
			<td mat-cell *matCellDef="let regIncome; let rowIdx = index;"> 
				<span *ngIf="!isEditMode[rowIdx]">{{ regIncome.name }}</span>
				<ng-container
					*ngIf="isEditMode[rowIdx]"
					[ngTemplateOutlet]="inputTemplate"
					[ngTemplateOutletContext]="{object:regularIncomesToEdit[rowIdx], property:'name', type:'input', caption:'Name'}">
				</ng-container>	
			</td>
		</ng-container>

		<ng-container matColumnDef="description">
			<th mat-header-cell *matHeaderCellDef> Description </th>
			<td mat-cell *matCellDef="let regIncome; let rowIdx = index;">
				<span *ngIf="!isEditMode[rowIdx]">{{ regIncome.description }}</span>
				<ng-container
					*ngIf="isEditMode[rowIdx]"
					[ngTemplateOutlet]="inputTemplate"
					[ngTemplateOutletContext]="{object:regularIncomesToEdit[rowIdx], property:'description', type:'text', caption:'Description'}">
				</ng-container>	
			</td>
		</ng-container>

		<ng-container matColumnDef="income">
			<th mat-header-cell *matHeaderCellDef> Income </th>
			<td mat-cell *matCellDef="let regIncome; let rowIdx = index;">
				<span *ngIf="!isEditMode[rowIdx]">{{ regIncome.income }}</span>
				<ng-container
					*ngIf="isEditMode[rowIdx]"
					[ngTemplateOutlet]="inputTemplate"
					[ngTemplateOutletContext]="{object:regularIncomesToEdit[rowIdx], property:'income', type:'number', caption:'Income'}">
				</ng-container>	
			</td>
		</ng-container>

		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef> Actions </th>
			<td mat-cell *matCellDef="let regIncome; let rowIdx = index;">
				<ng-container *ngIf="isEditMode[rowIdx]">
					<button mat-icon-button>
						<mat-icon (click)="saveItem(rowIdx)">save</mat-icon>
					</button>
					<button mat-icon-button (click)="discard(rowIdx)">
						<mat-icon>cancel</mat-icon>
					</button>
				</ng-container>

				<ng-container *ngIf="!isEditMode[rowIdx]">
					<button mat-icon-button>
						<mat-icon (click)="toggleEditMode(rowIdx)">edit</mat-icon>
					</button>
					<button mat-icon-button (click)="delete(rowIdx)">
						<mat-icon>delete</mat-icon>
					</button>
				</ng-container>
			</td>
		</ng-container>

	</table>
	<app-item-adder [add-item-function]="addItem.bind(this)"></app-item-adder>

	<!-- Template for edit-mode -->
<ng-template
	#inputTemplate
	let-income="object"
	let-property="property"
	let-type="type"
	let-caption="caption"
	>
	
	<mat-form-field class="table-edit-mode" appearance="fill">
    <input matInput [(ngModel)]="income[property]" type={{type}} placeholder="{{caption}}">
  </mat-form-field>

</ng-template>