<div class="mat-typography app-frame mat-app-background">
	<h1>Budgetizer</h1>
	<a mat-icon-button (click)="mainNavigation.toggle()">
		<mat-icon>menu</mat-icon>
	</a>			
	
	<mat-sidenav-container autosize="true">
		<mat-sidenav #mainNavigation role="region">
			<nav>
				<ul>
					<li>
						<button mat-button (click)="yearOverviewShown = !!!yearOverviewShown">Budget Plan</button>
					</li>
					<li>
						<button mat-button>Income</button>
					</li>
				</ul>
			</nav>
		</mat-sidenav>
		
		<mat-sidenav-content class="contianer">
			<!-- <router-outlet></router-outlet>-->
			<div fxLayout="row">
				<div fxLayout="column" fxFlex="50">
					<app-year-budget-overview style="height:100%;width:100%;"></app-year-budget-overview>
				</div>

				<div fxLayout="column" fxFlex="45">
					<div fxLayout="row">
						<app-regular-income fxLayout="column" style="height:100%;width:100%;"></app-regular-income>
					</div>
					<div fxLayout="row">
						<app-regular-spending fxLayout="column" style="height:100%;width:100%;"></app-regular-spending>
					</div>
				</div>

			</div>
		</mat-sidenav-content>
		
	</mat-sidenav-container>
</div>