<div class="mat-typography app-frame mat-app-background">
	<mat-toolbar role="heading">
		<span>Budgetizer</span>
		<span class="toolbar-spacer"></span>
		<button
			mat-icon-button
			(click)="yearOverviewShown = !yearOverviewShown"
			color="{{yearOverviewShown ? 'primary': null}}"
			title="Jahresübersicht">
			<mat-icon>calendar_today</mat-icon>
		</button>
		<button
			mat-icon-button
			(click)="incomeShown = !incomeShown"
			color="{{incomeShown ? 'primary': null}}"
			title="Einnahmen">
			<mat-icon>attach_money</mat-icon>
		</button>
		<button
			mat-icon-button
			(click)="spendingShown = !spendingShown"
			color="{{spendingShown ? 'primary': null}}"
			title="Ausgaben">
			<mat-icon>money_off</mat-icon>
		</button>
	</mat-toolbar>

	<!-- <router-outlet></router-outlet>-->

	<main>
		<div fxLayout="row">
			<div 
				*ngIf="yearOverviewShown"
				fxLayout="column"
				[fxFlex]="isSecondaryGridShown() ? 60 : 100"> 
				<app-year-account-overview style="height:100%;width:100%;"></app-year-account-overview>
			</div>

			<div
				*ngIf="isSecondaryGridShown"
				fxLayout="column"
				fxFlex>
				<div
					*ngIf="incomeShown" 
					fxLayout="row">
					<app-regular-income fxLayout="column" style="height:100%;width:100%;"></app-regular-income>
				</div>
				<div
					*ngIf="spendingShown"
					fxLayout="row">
					<app-regular-spending fxLayout="column" style="height:100%;width:100%;"></app-regular-spending>
				</div>
			</div>

		</div>
	</main>
	<app-dev-state-counter></app-dev-state-counter>

</div>
